body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
}

.barra-navegacion{
    background-color: rgb(231, 219, 219);
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
}
.barra-navegacion header{
    margin-left: 10%;
}
.barra-navegacion img{
    width: 55%;
}
.barra-navegacionimg{
    margin: 0 auto;
}
.barra-navegacion nav{
    margin-left: 10px;
}
.barra-navegacion nav ul {
    display: flex;
}
.barra-navegacion nav ul li{
    margin-left: 20px;
    background-color: aqua;
}
.contenido{
   padding-top: 80px;
}
